html {
    font-size: 16px;
}


/* Thiết lập giá trị mặc định cho tất cả các phần tử */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}


/* Đặt margin và chiều cao của thẻ HTML và body về 0 */

body {
    overflow-x: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/* Giới hạn chiều rộng của body không vượt quá 100% */

body {
    max-width: 100%;
}


/* Sử dụng kích thước bằng rem cho các phần tử */

img {
    width: 100%;
    height: 100%;
}


/* Loại bỏ đường gạch chân từ các liên kết */

.fluid-container a {
    text-decoration: none;
}

#fixed-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: #ffffff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#fixed-menu.sticky {
    position: fixed;
}


/* header-menu */

.fluid-container .header {
    height: 2.938rem;
    background-color: #820012;
    text-align: center;
    align-items: center;
}

.fluid-container .header .center img {
    width: 2.188rem;
    height: 2.188rem;
}

.fluid-container .header .center a {
    font-weight: 700;
    font-size: 0.875rem;
    color: #ffffff;
}


/* menu*/

#toggle {
    display: none;
    color: #000;
    cursor: pointer;
    padding: 5px 0 5px 10px;
}

#toggle i {
    font-size: 30px;
}

#res_mobile .menu {
    background-color: #ffffff;
}

#res_mobile .menu .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#res_mobile .menu .logo img {
    height: 2.25rem;
    width: 13.0625rem;
}

#res_mobile .menu .col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#res_mobile .menu .col-3 .icon i {
    font-size: 20px;
    font-weight: 800;
    color: #000;
}


/* navbar mobile */

#main-menu {
    position: fixed;
    top: 102px;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}

#main-menu .col-12 {
    border-bottom: 1px solid #aeaeae;
    margin: 15px 0px;
}

#main-menu .col-12 span {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
    margin-left: 20px;
    cursor: pointer;
}

#main-menu .col-12 span:hover {
    color: #65d1e6;
}

#main-menu .support {
    margin-left: 20px;
}

#main-menu .support .sup_header {
    color: #252a2b;
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 27.75px;
    margin: 0px 0px 10px;
}

#main-menu .support .phoneNumber,
.email {
    display: flex;
}

#main-menu .support .phoneNumber .bi,
#main-menu .support .email .bi {
    margin-right: 16px;
}

#main-menu .support .phoneNumber,
#main-menu .support .email {
    color: #252a2b;
}


/* john henry */

#jh {
    position: fixed;
    top: 112px;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}

#jh .col-12 {
    border-bottom: 1px solid #aeaeae;
    margin: 15px 0px;
}

#jh .col-12 span {
    cursor: pointer;
}

#jh .col-12 .comeBack {
    cursor: pointer;
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
}

#jh .col-12 .comeBack i,
#jh .col-12 a,
#jh .col-12 span {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
    margin-left: 20px;
}

#jh .col-12 .comeBack:hover,
#jh .col-12 .comeBack:hover i,
#jh .col-12 a:hover,
#jh .col-12 span:hover {
    color: #65d1e6;
}

#ao_jh,
#quan_jh,
#phu_kien_jh {
    position: fixed;
    top: 112px;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}

#ao_jh .col-12,
#quan_jh .col-12,
#phu_kien_jh .col-12 {
    border-bottom: 1px solid #aeaeae;
    margin: 15px 0px;
}

#ao_jh .col-12 .comeBackJh1,
#quan_jh .col-12 .comeBackJh2,
#phu_kien_jh .col-12 .comeBackJh3 {
    cursor: pointer;
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
}

#ao_jh .col-12 .comeBackJh1 i,
#ao_jh .col-12 a,
#ao_jh .col-12 span,
#quan_jh .col-12 .comeBackJh2 i,
#quan_jh .col-12 a,
#quan_jh .col-12 span,
#phu_kien_jh .col-12 .comeBackJh3 i,
#phu_kien_jh .col-12 a,
#phu_kien_jh .col-12 span {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
    margin-left: 20px;
}

#ao_jh .col-12 .comeBackJh1:hover,
#ao_jh .col-12 .comeBackJh1:hover i,
#ao_jh .col-12 a:hover,
#ao_jh .col-1 span:hover,
#quan_jh .col-12 .comeBackJh2:hover,
#quan_jh .col-12 .comeBackJh2:hover i,
#quan_jh .col-12 a:hover,
#quan_jh .col-1 span:hover,
#phu_kien_jh .col-12 .comeBackJh3:hover,
#phu_kien_jh .col-12 .comeBackJh3:hover i,
#phu_kien_jh .col-12 a:hover,
#phu_kien_jh .col-1 span:hover {
    color: #65d1e6;
}


/* freelancer */

#free {
    position: fixed;
    top: 112px;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}

#free .col-12 {
    border-bottom: 1px solid #aeaeae;
    margin: 15px 0px;
}

#free .col-12 span {
    cursor: pointer;
}

#free .col-12 .comeBack {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
}

#free .col-12 .comeBack i,
#free .col-12 a,
#free .col-12 span {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
    margin-left: 20px;
}

#free .col-12 .comeBack:hover,
#free .col-12 .comeBack:hover i,
#free .col-12 a:hover {
    color: #65d1e6;
}

#ao_free,
#quan_free {
    position: fixed;
    top: 112px;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}

#ao_free .col-12,
#quan_free .col-12 {
    border-bottom: 1px solid #aeaeae;
    margin: 15px 0px;
}

#ao_free .col-12 .comeBackFree1,
#quan_free .col-12 .comeBackFree2 {
    cursor: pointer;
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
}

#ao_free .col-12 .comeBackFree1 i,
#ao_free .col-12 a,
#quan_free .col-12 .comeBackFree2 i,
#quan_free .col-12 a {
    color: #000;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 39.6px;
    margin-left: 20px;
}

#ao_free .col-12 .comeBackFree1:hover,
#ao_free .col-12 .comeBackFree1:hover i,
#ao_free .col-12 a:hover,
#quan_free .col-12 .comeBackFree2:hover,
#quan_free .col-12 .comeBackFree2:hover i,
#quan_free .col-12 a:hover {
    color: #65d1e6;
}


/* search */

#search {
    cursor: pointer;
}

#sea {
    position: fixed;
    top: 112px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}

#sea p {
    color: #252a2b;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 10px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}

#sea .search-box {
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    background: #edecec;
    width: 90%;
    margin: 25px;
}

#sea .search-box input {
    width: 90%;
    padding: 10px;
    border: none;
    background: #edecec;
    margin-right: 5px;
}

#sea .search-box button {
    width: 10%;
    padding: 10px;
    border: none;
    background: none;
}

#sea .search-box button:hover {
    background: #b4282b;
}

#sea .search-box button i {
    border: none;
    background: none;
}


/* login */

#login {
    cursor: pointer;
}

#log {
    position: fixed;
    top: 112px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
}

#log .card {
    border-radius: none;
    background: none;
    border: none;
}

#log .card input {
    background: none;
}

#log .card .event {
    margin: 10px 0;
    text-align: center;
}

#log .card p {
    font-size: 14px;
    text-align: center;
}
/* info-user */
#user {
    position: fixed;
    top: 112px;
    left: 0;
    width: 100%;
    height: 1000%;
    background-color: #f5f5f5;
    z-index: 999;
    border: none;
}
#user .card{
    border: none;
}
#user .user-profile-box .card-header{
    font-size:17px;
    font-weight:500;
    text-align:center;
    text-transform:uppercase;
    border-top: none;
    padding: 10px 0;
}
#user .user-profile-box .card-body{
    display: flex;
    flex-direction: column;
    border: none;
    background-color: #f5f5f5;

}
#user .user-profile-box .card-body ul{
    list-style-type: none;
}
#user .user-profile-box .card-body span{
    color:#282c2d;
    font-size:15px;
    font-weight:500;
}
#user .user-profile-box .card-body a{
    color:#252a2b;
    font-size:14px;
    margin-top: 10px;
}
#user .user-profile-box .card-body a:hover{
    color:#65d1e6;
}
/* cart */

#cart {
    cursor: pointer;
}

#car {
    position: fixed;
    top: 112px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 999;
    border: none;
}

#car .card {
    border: none;
}

#car .card .card-header {
    text-align: center;
    font-size: 26px;
    background: #f3f5f6;
    font-family: Open Sans;
    font-weight: 500;
    line-height: 42px;
}

#car .card .card-body {
    background-color: #f5f5f5;
    border-radius: 4px;
}

#car .card .card-body .bi-cart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

#car .card .card-body p {
    text-align: center;
}

#car .card .card-body .card-view {
    padding: 20px;
    border: 1px solid #ccc;
}

.cart-view table {
    width: 100%;
}

.total-row {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    color: #b4282b;
    text-align: right;
}

.action-row td {
    text-align: center;
    padding: 10px;
}

.linktocart {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button.dark {
    background-color: #b4282b;
}

.button.dark span {
    font-size: 12px;
}

.button:hover {
    background-color: #820012;
}

.row.menu .col-2 .row.icon .cart .card .card-body .cart-policy .head {
    color: #b4282b;
    font-size: 1rem;
}

.row.menu .col-2 .row.icon .cart .card .card-body .cart-policy .body li {
    color: #820012;
    font-size: o.875rem;
}


/* navbar web*/

.fluid-container .container .menu {
    height: 4.5rem;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.fluid-container .container .menu .logo img {
    height: 3.25rem;
    width: 17.0625rem;
    justify-content: center;
    align-items: center;
}

.fluid-container .container .menu .navbar span {
    font-size: 0.99rem;
}

.fluid-container .container .menu .navbar .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fluid-container .container .menu .navbar span,
i {
    color: #252a2b;
    font-weight: 700;
    font-size: 0.875rem;
}

.fluid-container .container .menu .navbar span:hover {
    color: #820012;
}

.fluid-container .container .menu .navbar .hien1 {
    position: relative;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1:hover .product-list,
.fluid-container .container .menu .navbar .hien1 .menu_item2:hover .product-list {
    display: block;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list {
    display: none;
    position: absolute;
    top: 100%;
    left: -80%;
    background-color: #fff;
    width: 260%;
    z-index: 1;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    border-top: 1.25rem;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list .column {
    width: 33%;
    float: left;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list .column .product h3 a {
    color: #000;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list .column .product h3 a:hover {
    color: #820012;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list .column .product .title a {
    color: #252a2b;
    font-size: 0.875rem;
    line-height: 1.225rem;
    align-items: center;
    padding: 0.5625rem 1.125rem 0.5625rem 0;
    font-weight: 400;
    display: flex;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list .column .product a {
    margin-left: 10px;
}

.fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list .column .product .title a:hover {
    color: #820012;
}

.fluid-container .container .menu .navbar .hien1 .menu_item2 .product-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    background-color: #fff;
    width: 9.25rem;
    z-index: 1;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
    border-top: 1.25rem;
}

.fluid-container .container .menu .navbar .hien1 .menu_item2 .column .product .title div {
    display: flex;
    align-items: center;
}

.fluid-container .container .menu .navbar .hien1 .menu_item2 .column .product .title a {
    color: #252a2b;
    font-size: 0.875rem;
    line-height: 1.225rem;
    align-items: center;
    padding: 0.5625rem 0.3125rem 0.5625rem 0.625rem;
    font-weight: 600;
    display: inline-flex;
    width: 6.5625rem;
}

.fluid-container .container .menu .navbar .hien1 .menu_item2 .column .product .title a:hover {
    color: #820012;
}

.fluid-container .container .menu .navbar .hien1 .menu_item2 .column .product .title i {
    color: #252a2b;
    font-size: 0.875rem;
    margin-left: 1.25rem;
}

.fluid-container .container .menu .navbar .hien1 .menu-item .hien2 {
    visibility: hidden;
    transition: visibility 0s, opacity 0.1s;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    border: 0.0625rem solid #ccc;
    padding: 0.3125rem;
    z-index: 1;
    left: 6.25rem;
    top: 0;
    margin-left: 3rem;
}

.fluid-container .container .menu .navbar .hien1 .menu-item:hover .hien2 {
    visibility: visible;
    display: flex;
}

.fluid-container .container .menu .navbar .hien1 .menu-item .hien2.col1 {
    margin-top: 0.25rem;
}

.fluid-container .container .menu .navbar .hien1 .menu-item .hien2.col2 {
    margin-top: 2.75rem;
}


/* biểu tưởng icon */

.fluid-container .container .menu .icon i {
    color: #252a2b;
    font-size: 1.25rem;
    padding-left: 0.625rem;
}


/* search */

.fluid-container .container .menu .col-2 .icon .search-icon {
    cursor: pointer;
}

.fluid-container .container .menu .col-2 .icon .search-box {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 28%;
    top: 119px;
    right: 9%;
    z-index: 1000;
    padding: 20px;
}

.fluid-container .container .menu .col-2 .icon .search-box h6 {
    color: #000;
    text-align: center;
}

.fluid-container .container .menu .col-2 .icon .search-box .search-input {
    display: flex;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.fluid-container .container .menu .col-2 .icon .search-box input {
    width: 273px;
    border: none;
    width: 90%;
}

.fluid-container .container .menu .col-2 .icon .search-box button {
    padding: 10px 20px 10px 10px;
    margin-left: 10px;
    border: none;
    background: none;
}

.fluid-container .container .menu .col-2 .icon .search-box button:hover {
    background: #b4282b;
    border-radius: 10%;
}


/* login */

.fluid-container .container .menu .col-2 .icon .login {
    cursor: pointer;
}

.fluid-container .container .menu .col-2 .icon .login-box {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 28%;
    top: 119px;
    right: 9%;
    z-index: 999;
    padding: 20px;
}

.fluid-container .container .menu .col-2 .icon .card .event {
    margin-top: 10px;
    text-align: center;
}

.fluid-container .container .menu .col-2 .icon .card p {
    font-size: 14px;
    margin-bottom: -16px;
}
.fluid-container .container .menu .col-2 .icon .user-profile-box {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    top: 119px;
    right: 9%;
    z-index: 999;
    padding: 20px;
}
.fluid-container .container .menu .col-2 .icon .user-profile-box .card-header{
    font-size:17px;
    font-weight:500;
    text-align:center;
    text-transform:uppercase;
}
.fluid-container .container .menu .col-2 .icon .user-profile-box .card-body{
    display: flex;
    flex-direction: column;
}
.fluid-container .container .menu .col-2 .icon .user-profile-box .card-body ul{
    list-style-type: none;
}
.fluid-container .container .menu .col-2 .icon .user-profile-box .card-body span{
    color:#282c2d;
    font-size:15px;
    font-weight:500;
}
.fluid-container .container .menu .col-2 .icon .user-profile-box .card-body a{
    color:#252a2b;
    font-size:14px;
    margin-top: 10px;
}
.fluid-container .container .menu .col-2 .icon .user-profile-box .card-body a:hover{
    color:#65d1e6;
}
/* cart */

.fluid-container .container .menu .col-2 .icon .cart-box {
    cursor: pointer;
}

.fluid-container .container .menu .col-2 .icon .cart-box {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 28%;
    top: 119px;
    right: 9%;
    z-index: 999;
    padding: 20px;
}

.fluid-container .container .menu .col-2 .icon .cart-box .card-header {
    text-align: center;
    font-size: 20px;
}

.fluid-container .container .menu .col-2 .icon .cart-box .card-body .bi-cart2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.fluid-container .container .menu .col-2 .icon .cart-box .card-body p {
    text-align: center;
}

.fluid-container .container .menu .col-2 .icon .cart-box .card-body .card-view {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
}

.cart-view table {
    width: 100%;
}

.total-row {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    color: #b4282b;
    text-align: right;
}

.action-row td {
    text-align: center;
    padding: 10px;
}

.linktocart {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button.dark {
    background-color: #b4282b;
}

.button.dark span {
    font-size: 12px;
}

.button:hover {
    background-color: #820012;
}

.row.menu .col-2 .row.icon .cart .card .card-body .cart-policy .head {
    color: #b4282b;
    font-size: 1rem;
}

.row.menu .col-2 .row.icon .cart .card .card-body .cart-policy .body li {
    color: #820012;
    font-size: o.875rem;
}