@media (max-width: 575px) {
    #san_pham .motasanphamnho2 .an_duoi1{
        display: none;
    }
    #san_pham .motasanphamnho2 .an_tren2{
        padding-top: 55px;
        /* display: none; */
    }
    #san_pham .motasanphamnho2 .an_duoi2{
        display: none;
    }
    #san_pham .motasanphamnho2 .an_tren3{
        padding-top: 110px;
        /* display: none; */
    }
    #san_pham .motasanphamnho2 .an_duoi3{
        display: none;
    }
    #san_pham .motasanphamnho2 .an_tren4{
        padding-top: 160px;
        /* display: none; */
    }
    #san_pham .motasanphamnho2 .an_duoi4{
        display: none;
    }
    #htch{
        margin-top: 230px;
    }
    
}
@media (min-width: 576px) {
    #san_pham .motasanphamnho2 .an_tren1{
        display: none;
    }
    #san_pham .motasanphamnho2 .an_duoi2{
        display: none;
    }
    #san_pham .motasanphamnho2 .an_tren3{
        display: none;
    }
    #san_pham .motasanphamnho2 .an_duoi4{
        display: none;
    }
}
@media (max-width: 767.98px) {
    #toggle {
        display: block;
    }
    #main-menu {
        display: none;
    }
    #res_web {
        display: none;
    }
    #jh {
        display: none;
    }
    #ao_jh {
        display: none;
    }
    #quan_jh {
        display: none;
    }
    #phu_kien_jh {
        display: none;
    }
    #free {
        display: none;
    }
    #ao_free {
        display: none;
    }
    #quan_free {
        display: none;
    }
    #sea {
        display: none;
    }
    #log {
        display: none;
    }
    #car {
        display: none;
    }
    #foot_web {
        display: none;
    }
    #user{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .fluid-container .container .menu .logo img {
        max-width: 100%;
        height: auto;
        margin: 0 auto
    }
    .fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list {
        left: -90%;
        width: 280%;
    }
    .fluid-container .container .menu .navbar .hien1 .menu_item2 .product-list {
        top: 100%;
        left: 15%;
        width: 9.25rem;
    }
    .fluid-container .container .menu .navbar .menu_item1 a i,
    .fluid-container .container .menu .navbar .menu_item2 a i {
        display: flex;
        align-items: center;
        /* Canh giữa theo chiều dọc */
        justify-content: center;
        /* Canh giữa theo chiều ngang */
        text-align: center;
    }
    #main-menu {
        display: none;
    }
    #res_mobile {
        display: none;
    }
    #foot_mobile {
        display: none;
    }
    .fluid-container .footer .bottom-footer .row .logoto img {
        width: 7.0625rem;
        height: 3.5625rem;
        
    }
}

@media (min-width: 1200px) {
    .fluid-container .container .menu .navbar .hien1 .menu_item1 .product-list {
        left: -85%;
        width: 265%;
    }
    .fluid-container .container .menu .navbar .hien1 .menu_item2 .product-list {
        left: 20%;
        width: 9.25rem;
    }
    #main-menu {
        display: none;
    }
    #res_mobile {
        display: none;
    }
    #foot_mobile {
        display: none;
    }
    .container .col-l img{
        max-width: 452px;
        height: 524px;
    }
}